*{
    margin: auto;
    padding-top: 3px;
}


 header{
    background-image: url("/images/audiRsq8.jpeg");
    width: 75rem;
    height: 45rem;
   
} 

h1{
    text-align: center;
}

footer{
    border: solid 3px;
    background-color: rgb(63, 196, 240);
    color: black;
}
