*{
    margin: auto;
    padding-top: 3px;
}


header{
    background-image: url("../images/b.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
   
} 

h1{
    text-align: center;
}

