{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}|Gestion de commande
{% endblock %}

{% block body %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
        {% for value in items %}        
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        {% endblock %}  
    </tbody>
  </table>





    
{% endfor %}