{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <H1>Bienvenue a bord</H1>
{% for item in items %}
    
{% else %}
    
{% endfor %}
<header>

</header>
{% endblock %}
{% block body %}


   

{% endblock %}
