{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <h1>Bienvenue a bord</h1>
{% endblock %}   #}


{# {% for item in items %}
    
{% else %}
    
{% endfor %} #}


{% block body %}


   

{% endblock %}
